# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
.gcp-creds.json

# Node
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
coverage/

# OS
.DS_Store
*.swp
